.bg-cover {
  background-size: cover;
  background-position: center center;
}

.h2-sm {
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
}

.h3-sm {
  @include media-breakpoint-up(sm) {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
}

.text--decoration {
  text-decoration: none;
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, $accent 50%, transparent 50.1%);
  background-position: left 0 bottom 10;
}

.fix-sm-margin {
  @media (max-width: 575px) {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.text-space {
  letter-spacing: 1rem;
  margin-right: -1rem;
}

.text-vertical {
  writing-mode: vertical-lr;
}

.border-solid {
  border: 1px solid $primary;
}

.nav.nav-dark {
  &.nav-pills > .nav-link {
    border: $primary-500 1px solid;
  }

  .nav-link {
    color: $primary-200;
  }

  .nav-link.active {
    background-color: $primary-500;
    color: $primary;
  }
}

.isInvalid {
  border: 2px solid red;
}

.form-control.form-control-lg {
  -webkit-appearance: none;
}

.form-width {
  width: 630px;
}

button {
  > .fa-chevron-right {
    margin-left: 15px;
    transition: transform 0.5s ease-out;
  }

  &:hover {
    > .fa-chevron-right {
      transform: translateX(5px);
    }
  }
}